@model Proyecto.Models.Usuario

@{
    Layout = "~/Views/Shared/_LayoutIngreso.cshtml";
    ViewBag.Title = "Registrese";
}

<form method="post" action="@Url.Action("Registro", "Usuario")">
    @Html.AntiForgeryToken()
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-header bg-dark text-white text-center">
                        <h4>Registro</h4>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="NOMBRE_USUARIO" class="form-label">Nombre de usuario</label>
                            <input type="text" class="form-control" id="NOMBRE_USUARIO" name="NOMBRE_USUARIO" placeholder="Ingrese su nombre de usuario" required />
                        </div>
                        <div class="mb-3">
                            <label for="CORREO" class="form-label">Correo electrónico</label>
                            <input type="email" class="form-control" id="CORREO" name="CORREO" placeholder="Ingrese su correo electrónico" required />
                        </div>
                        <div class="mb-3">
                            <label for="NOMBRE" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="NOMBRE" name="NOMBRE" placeholder="Ingrese su nombre" required />
                        </div>
                        <div class="mb-3">
                            <label for="PRIMER_APELLIDO" class="form-label">Primer Apellido</label>
                            <input type="text" class="form-control" id="PRIMER_APELLIDO" name="PRIMER_APELLIDO" placeholder="Ingrese su primer apellido" required />
                        </div>
                        <div class="mb-3">
                            <label for="SEGUNDO_APELLIDO" class="form-label">Segundo Apellido</label>
                            <input type="text" class="form-control" id="SEGUNDO_APELLIDO" name="SEGUNDO_APELLIDO" placeholder="Ingrese su segundo apellido" required />
                        </div>
                        <div class="mb-3">
                            <label for="CONTRASENA" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="CONTRASENA" name="CONTRASENA" placeholder="Ingrese su contraseña" required />
                        </div>
                        <button type="submit" class="btn btn-dark w-100">Registrarse</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@Html.ValidationSummary(true)

